<!doctype html>
<html lang="en">
<body>
<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <!-- Header section containing logo -->
  <header class="mdl-layout__header mdl-color-text--white mdl-color--light-blue-700">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">
      <div class="mdl-layout__header-row mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop" align="left">
        <h3><i class="material-icons">favorite</i>Morbi</h3>
      </div>
      <div id="user-container">
        <div  id="user-pic" class="img-responsive"><img src = "{{ (af.auth | async)?.google.photoURL }}" /></div>
        <div  id="user-name">{{ (af.auth | async)?.google.displayName }}</div>
        <button *ngIf="isUserLoggedIn" id="sign-out" (click)="logOut()" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
          Sign-out
        </button>
        <button *ngIf="!isUserLoggedIn" id="sign-in" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white" (click)="login()">
          <i class="material-icons">account_circle</i>Sign-in with Google
        </button>
      </div>
    </div>
  </header>
  </div>
</body>
</html>
